@{
    ViewBag.Title = "Assignment #2";
}

<div class="jumbotron">
    <h1>ShopKing</h1>
    <p class="lead">ShopKing is a popular franchise in Trinidad and Tobago. Their main business is selling grocery items. Thus the ability to optimize thier inventory is critical to the success of their business. This prototype inventory web application tracks items, inventory, location and sales.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Google Doc Submission</h2>
        <p>Detailed answers to assignment questions</p>
        <p><a class="btn btn-default" href="https://docs.google.com/document/d/1AEq4CkE8Z-12xyp8pXcj3KvXIrFTex8kU-zhCMHpwH0/edit?usp=sharing">Detail &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Simulation</h2>
        <p>A step-by-step simulation of the web application</p>
        <p><a class="btn btn-default" href="https://docs.google.com/document/d/1P1A-vUiJ6TgQhW9OyUj6ze0Tri7OvkNjm0tXjE7sYLg/edit?usp=sharing">Simulation &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Git Hub</h2>
        <p>Download source code for this assignment</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Git &raquo;</a></p>
    </div>
</div>