
@{
    ViewBag.Title = "Test Load";
}


@{
    if (ViewBag.message)
    {
        <h2>Default items lodaed for @ViewBag.location </h2>
    }
    else
    {
        <br />
        if (ViewBag.loaded)
        {
            <p>Items already loaded for @ViewBag.location</p>
        }
        else
        {
            <p>Please specify a valid location in the URL /Home/TestLoad/<b>yourlocation</b> </p>
        }


    }

}


