@{
    ViewBag.Title = "Test Order";
}
<h2>@ViewBag.location Test Order</h2>


@{ 
    if (ViewBag.message) {

        <p>You Ordered </p>
        <ol>
            <li> Blue - Band 1 </li >
            <li> Golden - Ray 1 </li >
            <li> Kiss - Bread 2 </li >
            <li> Crix 4 </li>
        </ol>
    }
    else
    {
        <p>Please specify a valid location in the URL /Home/TestOrder/<b>yourlocation</b> </p>
    }

}

